<%= form_with model: store do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% store.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>
  <p>
    <%= form.submit "Add Store"%>
  </p>
<% end %>