<%= form_with model: [ @store, @store.purchases.build ] do |form| %>
  <p>
    <%= form.label :Date %><br>
    <%= form.date_field :purchase_date %>
  </p>
  <p>
    <%= form.label :Total %><br>
    <%= form.number_field :total , step: 0.01 %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>