<%= render "/purchases/sidebar" %>
<div class="main">
  <h1>Purchases from the last <%= Setting.weeks %> weeks</h1>
  <h2>Total spent: <%= total_spent = @purchases.where(purchase_date: Setting.weeks.weeks.ago..Date.current).sum("total") %></h2>
  <h2>Weekly spending: <%= weekly_spending = total_spent/Setting.weeks %></h2>
  <h2>Budget Balance: <%= Setting.weekly_budget - weekly_spending %></h2>

  <table>
    <tr>
      <th>Store</th>
      <th>Date of Purchase</th>
      <th>Total</th>
    </tr>
    <% @purchases.where(purchase_date: Setting.weeks.weeks.ago..Date.current).each do |purchase| %>
      <tr>
        <td>
          <%= purchase.store.name%>
        </td>
        <td>
          <%= link_to purchase.purchase_date, purchase %>
        </td>
        <td>
          $<%= purchase.total%>
        </td>
      </tr>
    <% end %>
  </table>
</div>