<h1>Purchase</h1>
<p>
  <strong>Date:</strong>
  <%= @purchase.purchase_date %>
</p>

<p>
  <strong>Total:</strong>
  <%= @purchase.total %>
</p>

<h3>Items</h3>
<%= render @purchase.items %>

<h2>Add an item:</h2>
<%= render 'items/form' %>

<ul>
  <li><%= link_to "Edit Purchase", edit_purchase_path(@purchase) %></li>
  <li><%= link_to "Destroy Purchase", purchase_path(@purchase), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>