<%= render "/purchases/sidebar" %>
<div class="main">
  <%= form_for Setting.new do |f| %>
    <div class="form-group">
      <label class="control-label">Weeks of data</label>
      <%= f.number_field :weeks, value: Setting.weeks, class: "form-control"  %>
    </div>
    <div class="form-group">
      <label class="control-label">Weekly Budget</label>
      <%= f.number_field :weekly_budget, value: Setting.weekly_budget, class: "form-control"  %>
    </div>
    <p>
      <%= f.submit "Save Settings"%>
    </p>
  <% end %>
</div>