<%= form_with model: [ @purchase, @purchase.items.build ] do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.number_field :price , step: 0.01 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>